/* Card adjustments for MTG-style preview cards */
.card {
  width: 220px;
  height: 300px;
  display: grid;
  justify-content: start;
  align-content: end;
  border-radius: 1.5rem;
  background: #333;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.card img.backdrop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  transition: transform 500ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover img {
  transform: scale(1.1);
}

.content {
  position: relative;
  z-index: 2;
  display: grid;
  gap: 0.5rem;
  bottom: 0;
  justify-content: start;
  align-content: end;
}

.title {
  font-size: 1.7rem;
}

.category {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  opacity: 0.45;
}

.description {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 1fr auto;
  place-content: start;
  gap: 0.5rem;
}

.description p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description span {
  transform: translateY(-0.1rem);
  font-size: 4rem;
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
}
