html, body {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: #000;
  color: #fff;
  display: grid;
  place-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.previewCard {
  --gutter: 1.5rem;
  --brightness: 0.85;
  --saturation: 1.5;
  --frostRadius: 1.5rem;
  
  padding: var(--gutter);
  border-radius: var(--gutter);
  aspect-ratio: 4 / 3;
  width: 100%;
  max-width: 32rem;
  display: grid;
  justify-content: start;
  align-content: end;
  position: relative;
  background: #333;
  overflow: hidden;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  
  img {
    transition: transform 500ms ease-in-out;
  }
  
  svg {
    transition: transform 250ms ease-in-out;
  }
  
  &:hover {
    transform: scale(1.05);
    
    img {
      transform: scale(1.1);
    }
    
    svg {
      transform: scale(1.5);
    }
  }
  
  &:after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: 1;
    pointer-events: none;
    backdrop-filter: blur(var(--frostRadius)) saturate(var(--saturation)) brightness(var(--brightness));
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0.5) 55%,
      black 75%
    );
  }
}

.backdrop {
  position: absolute;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: 2;
  display: grid;
  bottom: 0;
  justify-content: start;
  align-content: end;
  gap: 0.5rem;
}

.title {
  font-size: 1.7rem;
}

.category {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  opacity: 0.45;
}

.description {
  font-size: 1.3rem;
  line-height: 1.35;
  display: grid;
  grid-template-columns: 1fr auto;
  place-content: start;
  gap: 0.5rem;
  
  p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  span {
    transform: translateY(-0.1rem);
    font-size: 4rem;
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
  }
}